// TODO
.container{
  max-width: 90rem;
  margin: 0 auto;
  img {
    width: 90rem;
    height: 25rem;
  }

  > div {
    > strong{
      font-size: 3rem;
      line-height: 3.6rem;
    }

    .info{
      margin-top: 1.6rem;
      margin-bottom: 4.1rem;
      display: flex;
      gap:1.5rem;
      div {
        display: flex;
        gap:0.6rem;

        p{
          font-size: 0.9rem;
          line-height: 1rem;
          color: var(--gray-200);
        }
      }  
    }

    .content {
      > strong{
        font-size: 2.25rem;
        line-height: 3.15rem;
        font-weight: bold;
        text-align: justify;
      }
      p, ul {
        margin: 1.5rem 0;
        font-size: 1.1rem;
        font-weight: 1.6rem;
        color: var(--gray-100);
        ul {
          padding-left: 1.5rem;
  
          li {
            margin: 0.5rem 0;
          }
        }
      }
      a {
        text-decoration: none;
        color: var(--pink-600);
      }
      img{
        width:100%;
      }
    }
  }
}
